data/
__pycache__/
daten/
#training_plots/
log/
#input_output_images/
#model_medium_drop_group/
#model_large_drop_batch_dice/
#model_large_drop_batch_dice_ce/
#model_small_dice_ce/
#model_large_drop_batch_ce/
#model_large_drop_batch_wce/